body {
    position: relative;
    height: 100%;
}

.bg-main {
    background-color: #181818;
}

.boxcenter {
    width: 94%;
    margin: 0 auto;
}

.navbar-nav img {
    fill: #fff;
}

button.hamburger {
    outline: none;
    background: transparent;
    border: none;
    margin: 0;
    padding: 0;
    cursor: pointer
}

button.hamburger>div {
    position: relative;
    background-color: hsla(0, 0%, 100%, .8);
    height: 1px;
    transform-origin: center center;
    transition: margin .3s ease-in-out, background-color .3s ease-in-out, transform .3s ease-in-out, opacity .3s ease-in-out, visibility .3s ease-in-out
}

button.hamburger>div:nth-of-type(2) {
    margin: 6px 0
}

button.hamburger[aria-expanded=true]>div {
    background-color: #fff
}

button.hamburger[aria-expanded=true]>div:first-of-type {
    transform: rotate(45deg);
    margin-bottom: -1px
}

button.hamburger[aria-expanded=true]>div:nth-of-type(2) {
    margin: 0;
    opacity: 0;
    visibility: hidden
}

button.hamburger[aria-expanded=true]>div:last-of-type {
    transform: rotate(-45deg);
    margin-top: -1px
}

button.hamburger:hover div {
    background-color: #fff
}

button.hamburger {
    width: 2rem;
    height: 2.5rem;
}

.swiper-container {
    width: 100%;
    height: 500px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
}

.swiper-pagination-bullet {
    width: 54px !important;
    height: 3px !important;
    padding-top: 2px !important;
    /* background: transparent !important; */
    border-radius: 0 !important;
    /* position: relative !important; */
    left: 20% !important;
}

.ml3 {
    font-weight: 900;
    font-size: 3.5em;
    color: white;
}

.ml4 {
    color: white;
    font-size: 5em;
    font-weight: bold;
    opacity: 1;
    /* transform: matrix(1, 0, 0, 1, -491.406, 0); */
}


/* .swiper-container .swiper-wrapper {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
} */


/* .swiper-container .swiper-slide {
    background-color: #f0f0f0;
    width: 80%;
    height: 200px;
    @media screen and (min-width: 768px) {
        width: 200px;
    }
} */

.swiper-slide.swiper-slide-active {
    background-color: #bd1701;
    width: 58vw !important;
    /* @media screen and (min-width: 768px) {
        width: 500px;
        height: 250px;
    } */
}